.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.calcContainer {
  width: 500px;
  height: 680px;
  background-color:#618685; 
  border-radius: 8%;
  padding: 15px 5px 0 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.keyboard {
  padding: 8px 0 0 12px;
}

.row {
  display: flex;
  width: 93%;
  justify-content: space-between;
  margin: 10px 10px 10px 15px;

}
